@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
*{
  text-decoration: none !important;
  padding: 0;
  margin: 0 ;
  font-family: 'Ubuntu', sans-serif !important;
}

body{
  overflow-x: hidden !important;
}

#hero {
  background-image: url('./assets/img/Poster.svg');
  background-position: center;
  background-size: cover;
  width:100vw !important;
  color: #fff !important;
  padding-top: 120px !important; 
}

input{
  width: 40vw!important;
  background-color: transparent !important;
  outline: none !important;
  border: 1px solid #fff !important;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

input::placeholder{
  color: #fff !important;
}

.search i  {
  color: #fff !important;
  position: absolute !important;
  right: 35%;
  top: 28%;  
}

 .navbar {
   transition: background-color 0.3s;
 }

 .navbar.bg-white {
   background-color: rgba(190, 18, 60, 0.8) !important;
   box-shadow: 0 2px 4px rgba(22, 17, 17, 0.1);
 
 }
.navbar-brand{
  color: #fff !important;
}
.navbar ul li.nav-item::marker{
  display: none !important;
}
/* #hero p{
  font-weight: 500 !important;
} */
button{
  background-color: #BE123C !important;
  color: #fff !important;
  border-radius: 15px;
  outline: none !important;
  border: none !important;
}
.play{
  width: 20px !important;
  height: 20px;
 
}
div.movie-card {
  color: #000 !important;
  text-decoration: none !important;
}
.socials img{
  width: 25px !important;
  margin-left: 20px;
}
.text h5{
  margin-left:0px !important;
}

.clicked {
  background-color: #f5f5f5 !important;
  transition: background-color 0.3s ease;
 
}

.bi-heart-fill{
  color: #BE123C !important;
  font-size: 30px !important;
}