
#hero {
  background-image: url('./assets/img/Poster.svg');
  background-position: center;
  background-size: cover;

}
button{
  background-color: red;
  color: #fff;
  border-radius: 15px;
  outline: none !important;
  border: none !important;
}
.play{
  width: 20px !important;
  height: 20px;
 
}